<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <strong>Publicationdate:</strong>
  <%= @announcement.publicationDate %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @announcement.headline %>
</p>

<p>
  <strong>Subhead:</strong>
  <%= @announcement.subhead %>
</p>

<p>
  <strong>Body:</strong>
  <%= @announcement.body %>
</p>

<% @announcement.comments.each do |comments| %>
    <div class="panel panel-info">
               <div class="panel-heading">
                 <h4><%= comments.name %></h4>
               </div>
               <div class="panel-body">
              <p class="list-group-item-text"><%= comments.body %></p>
              <p align="right"><%= link_to 'Delete', [comments.announcement, comments], method: :delete, data: {confirm:'Are you sure?'}%> </p>
            </a>
               </div>
    </div>
<% end %>
</div>

    <div class="well">
      <h3> Add a Comment: </h3>
      <%= render 'comments/form' %>
    </div>
<br>

<%= link_to 'Back', href='/main_page' %>
